.paragraph {
  text-align: justify;
  font-size: 32px;
}
ul li {
  font-size: 28px;
}
.section-2 {
  width: auto;
  height: 55% !important;
}

.section {

  &__img {
    width: 100%;
    display: flex;
    flex-direction: row;
    &_item {
      width: 50%;
    }
  }
}
